*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 16px;
}
.header {
    background-color: #1e1e1e;
    height: 97px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: sticky;
    top: 0 ;
}
.logo {
    color: #d4af37;
    font-weight: 700;
    font-size: 32px;
}
.nav-link {
    display: flex;
    gap: 40px;
}
.link {
    color: #dddddd;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.main {
    background-color: #f9f5f0;
    padding: 60px 40px 53.83px 40px;

}

.list-card {
    display: flex;
    gap: 50px;

}

.card-item {
    box-shadow: 0px 8px 30px 0px #00000026;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
}
.food-name {
    color: #D4AF37;
    font-size: 27.6px;
    font-weight: 700;
    margin-bottom: 30px;
}
.food-description {
    font-size: 17.7px;
    line-height: 28.8px;
    color: #555555;
    font-weight: 700;
    margin-bottom: 34.79px;

}
.food-image {
    object-fit: cover;
}
.footer {
    height: 78px;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}
.footer-left {
}
.footer-right {
    display: flex;
    gap: 25px;
}
.footer-right a{
    color: #dddddd;
    font-size: 15px;
    text-decoration: none;
}


